<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Title</title>
</head>
<body>
<h1> This is a welcome page!</h1>
<form action="/get" method="get"> <input type="submit" value="GET"> </form>
<form action="/post" method="POST"> <input type="submit" value="POST"> </form>
<form action="/extend"> <input type="submit" value="EXTEND"> </form>
<form action="/rates"> <input type="submit" value="RATES">  </form>
<p> Type some text to send to the next page</p>
<form action="/param" method="post"> <input type="text" name="text">  <input type="submit" value="SEND"></form>
</body>
</html>